<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="job-card(jobTitle, companyName, location, salary, deadline)"
     class="bg-white px-5 py-4 rounded-lg shadow-md flex flex-col gap-[38px]">

    <h4 class="text-2xl font-inter text-[#454959]" th:text="${jobTitle}">Título da Vaga</h4>

    <div class="flex flex-col gap-5">
        <div class="flex flex-col gap-2">
            <p class="text-[#818593]" th:text="${companyName}">Nome da Empresa</p>
            <p class="text-[#9D9FAA]" th:text="${location}">Cidade, Estado</p>
        </div>

        <div class="flex justify-between">
            <span class="text-[#55B57D]" th:text="${salary}">R$00.000,00</span>
            <span class="text-[#8E919D]" th:text="'Inscrições até: ' + ${deadline}">Inscrições até: DD/MM/AAAA</span>
        </div>
    </div>
</div>

</body>
</html>