<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div
        th:fragment="job-card(jobId, jobTitle, companyName, location, salary, deadline, jobType, jobDescription, jobSkills)"
        th:dataJobId="${jobId}"
        th:dataJobTitle="${jobTitle}"
        th:dataCompanyName="${companyName}"
        th:dataLocation="${location}"
        th:dataSalary="${#numbers.formatCurrency(salary)}"
        th:dataDeadline="${#temporals.format(deadline, 'dd/MM/yyyy')}"
        th:dataJobTypeName="${jobType.name()}"
        th:dataJobDescription="${jobDescription}"
        th:dataJobSkills="${jobSkills}"
        onclick="openDetailsModal(this)"
        class="bg-white px-5 py-4 rounded-lg shadow-md flex flex-col gap-[28px] cursor-pointer hover:shadow-lg transition-shadow duration-200"
    >
        <div class="flex flex-col gap-2">
            <h4 class="text-2xl font-inter text-[#454959]" th:text="${jobTitle}">Título da Vaga</h4>
            <p class="text-[#818593]" th:text="${companyName}">Nome da Empresa</p>
            <p class="text-[#9D9FAA]" th:text="${location}">Cidade, Estado</p>
        </div>

        <div class="flex flex-col gap-5">
            <div>
                <span
                        th:text="${jobType.name() == 'INTERNSHIP'} ? #{fragments.jobCard.job.type.internship} : #{fragments.jobCard.job.type.full_time}"
                        th:classappend="${jobType.name() == 'INTERNSHIP' ? 'bg-blue-100 text-blue-800' : 'bg-green-100 text-green-800'}"
                        class="text-xs font-medium me-2 px-2.5 py-0.5 rounded-full">
                    Tipo da Vaga
                </span>
            </div>

            <div class="flex justify-between items-center">
                <span class="text-[#55B57D]" th:text="${'R$ %.2f'.formatted(salary)}">R$00.000,00</span>
                <span class="text-[#8E919D] text-sm" th:text="#{fragments.jobCard.job.deadline.prefix} + ${#temporals.format(deadline, 'dd/MM/yyyy')}">Inscrições até: DD/MM/AAAA</span>
            </div>
        </div>
    </div>
</body>
</html>