<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <link th:href="@{/css/output.css}" rel="stylesheet">
    <title>CadastroEmpresa</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-[#F9FAFB] ">
<header th:replace="~{fragments/header :: header-component}"></header>
<section id="cadastro-empresa" class="max-w-2xl mx-auto bg-white p-8 rounded-xl shadow-md mt-15">
    <div>
        <h1 class="text-3xl font-bold text-center mb-2">Cadastro de Empresa</h1>
        <p class="text-center text-gray-500 mb-8">Divulgue suas vagas e encontre os melhores talentos.</p>
    </div>
    <form action="" class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div th:replace="~{fragments/input :: input('Nome da empresa', 'text', 'nome', 'Digite o nome da sua empresa aqui')}"></div>
        <div th:replace="~{fragments/input :: input('E-mail Corporativo', 'email', 'email', 'Digite o email da empresa aqui')}"></div>
        <div th:replace="~{fragments/input :: input('Senha', 'password', 'senha', 'Digite a senha aqui')}"></div>
        <div th:replace="~{fragments/input :: input('CNPJ', 'text', 'cnpj', 'Digite o CNPJ da empresa aqui')}"></div>
        <div th:replace="~{fragments/input :: input('Cidade', 'text', 'cidade', 'Digite a cidade aqui')}"></div>

        <div class="md:col-span-2">
            <label class="block text-sm font-medium">Descrição</label
            ><textarea
                name="descricao"
                rows="4"
                class="mt-1 w-full p-2 border-[1px] border-[#e3e3e3] rounded-lg"
        ></textarea>

        </div>
        <div class="md:col-span-2">
            <button
                    type="submit"
                    class="w-full bg-indigo-600 text-white font-bold py-3 rounded-lg hover:bg-indigo-700"
            >
                Cadastrar Empresa
            </button>
        </div>
    </form>
</section>
</body>
</html>
