<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${isEdit} ? 'Editar Empresa' : 'Cadastro de Empresa'"></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50">

<div th:replace="~{fragments/header :: header-component}"></div>

<main class="flex items-center justify-center py-20">
    <div class="bg-white p-12 rounded-lg shadow-lg max-w-4xl w-full">
        <div class="text-center mb-10">
            <h3 class="text-gray-800 text-3xl font-semibold"
                th:text="${isEdit} ? 'Editar Perfil da Empresa' : 'Cadastro de Empresa'"></h3>
            <p class="text-gray-500 text-base mt-2"
               th:text="${isEdit} ? 'Altere os dados conforme necessário' : 'Cadastre sua empresa para divulgar vagas'"></p>
        </div>

        <div th:if="${errorMessage}" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
            <span class="block sm:inline" th:text="${errorMessage}"></span>
        </div>

        <form th:action="${formAction}" th:object="${enterpriseData}" method="post">
            <div class="grid grid-cols-2 gap-x-8 gap-y-6">
                <div class="col-span-2 sm:col-span-1">
                    <label for="name" class="text-sm font-medium text-gray-700">Nome da Empresa</label>
                    <input class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm" type="text" th:field="*{name}" id="name">
                </div>
                <div class="col-span-2 sm:col-span-1">
                    <label for="cnpj" class="text-sm font-medium text-gray-700">CNPJ</label>
                    <input class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm" type="text" th:field="*{cnpj}" id="cnpj">
                </div>
                <div class="col-span-2 sm:col-span-1">
                    <label for="email" class="text-sm font-medium text-gray-700">E-mail de Contato</label>
                    <input class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm" type="email" th:field="*{email}" id="email">
                </div>
                <div class="col-span-2 sm:col-span-1">
                    <label for="password" class="text-sm font-medium text-gray-700">Senha</label>
                    <input class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm" type="password" th:field="*{password}" id="password" th:placeholder="${isEdit} ? 'Deixe em branco para não alterar' : 'Digite sua senha aqui'">
                </div>
                <div class="col-span-2">
                    <label for="city" class="text-sm font-medium text-gray-700">Cidade</label>
                    <input class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm" type="text" th:field="*{city}" id="city">
                </div>
                <div class="col-span-2">
                    <label for="description" class="text-sm font-medium text-gray-700">Descrição</label>
                    <textarea rows="4" class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm" th:field="*{description}" id="description"></textarea>
                </div>
            </div>

            <div class="mt-10">
                <button class="w-full cursor-pointer bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 px-4 rounded-lg" type="submit"
                        th:text="${isEdit} ? 'Salvar Alterações' : 'Cadastrar Empresa'"></button>
            </div>
        </form>
    </div>
</main>

</body>
</html>